<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teamfight Tactics</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-200 h-full min-h-screen flex flex-col">
    <div class="max-w-screen-lg w-9/12 flex-grow m-auto py-4">
      {% for summoner in summoner_data %}
        <h1 class="font-bold">{{ summoner.name }}</h1>
        <div class="flex h-12">
        <img class="" src="{{ summoner.profile_icon_url }}" alt="profile icon" />
        <img height="300" class="scale-150" src="{{ summoner.queues.RANKED_TFT.rank_icon_url }}" alt="level icon" />
        </div>
          <p>
            {{ summoner.queues.RANKED_TFT.tier}} {{ summoner.queues.RANKED_TFT.rank }}
        </p>
        <p>LP: {{ summoner.queues.RANKED_TFT.lp }}</p>
        <p>Top 4 rate: {{ summoner.queues.RANKED_TFT.top_rate }}</p>
        <br />
      {% endfor %}
    </div>
  </body>
</html>
